body {
    background-color: rgb(182, 205, 207);
    color: black;
    text-align: center;
}

table, th, td, tr, tbody{
    background-color: rgb(182, 205, 207);
    color: slategray;
    padding: 0px;
    text-align: center;
    margin: 0px;
    border-collapse: collapse;
    font-size: 90%;
    border-spacing: 0;
    
    
}

tr{
    height: 0;
}


p{
    font-size: 200%;
}

button{
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
    background-color: rgb(131, 149, 150);
    padding: .5%;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    text-align: center;
    text-decoration: underline;

}

a {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-align: center;
}
a:visited{color: rgb(47, 79, 79)}
a:hover, a:active{color: #FFFDD0;}