<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Emissions by Income</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="content">
        <h1 id="income_level">%%INCOME_LEVEL%%</h1>
        <div class="clear"></div>
        <table>
            <thead>
                <tr>
                    <th class="cereal_title">Emissions By Income</th>
                    <th>Year</th>
                    <th>Co2</th>
                    <th>Cumulative Co2</th>
                </tr>
            </thead>
            <tbody>
                %%EMISSION_INFO%%
            </tbody>
        </table>
</body>
</html>